{% extends 'crm/base.html' %}

{% block content %}
<input type=button class="btn btn-default" value="Previous Page" onClick="javascript:history.go(-1);">
{% if user.is_superuser %}
    <a href="{% url 'user_new' %}"><span class="btn btn-primary">Add user</span></a>
    {% for user in users %}
        <div>
            <h1><a href="{% url 'user_details' pk=user.pk %}">{{ user.username }}</a></h1>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
        </div>
    {% endfor %}
{% endif %}
{% endblock content %}
