{% extends 'common/base.html' %}

{% block content %}
<a class="btn btn-default" href="{% url 'user_list' %}">Previous Page</a>
<div class="form-edit">
    <h1>Add User</h1>
    <form method="POST" class="user-form">
        {% csrf_token %}
        {% for field in form %}
        <fieldset class="form-group">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field.errors }}
            <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.label }}">
        </fieldset>
        {% endfor %}
        <button type="submit" class="save btn btn-default pull-left">Save</button>
    </form>
</div>
{% endblock %}
