{% extends 'common/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.is_superuser %}
        <a href="{% url 'profile' %}"><span class="btn btn-default">Main Page</span></a>
        <a href="{% url 'company_new' %}"><span class="btn btn-primary">Add Company</span></a>
    {% endif %}
    {% for company in companies %}
    <div>
        <h1><a href="{% url 'company_details' pk=company.pk %}">{{ company.name }}</a></h1>
        <p>{{ company.street }}</p>
        <p>{{ company.postal_code }}, {{ company.city }}</p>
        <p>NIP: {{ company.number }}</p>
    </div>
    {% if user.is_superuser %}
        <a class="btn btn-default" href="{% url 'company_edit' pk=company.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-danger" href="{% url 'company_delete' pk=company.pk %}" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-trash"></span></a>
    {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
