{% extends 'crm/base.html' %}

{% block content %}
<input type=button class="btn btn-default" value="Previous Page" onClick="javascript:history.go(-1);">
{% if user.is_authenticated %}
    {% if user.is_superuser %}
        <a href="{% url 'company_new' %}"><span class="btn btn-primary">Add company</span></a>
    {% endif %}
    {% for company in companies %}
    <div>
        <h1><a href="{% url 'company_details' pk=company.pk %}">{{ company.name }}</a></h1>
        <p>{{ company.street }}</p>
        <p>{{ company.postal_code }}, {{ company.city }}</p>
        <p>NIP: {{ company.number }}</p>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
