{% extends "crm/base.html" %}

{% block content %}

<div class="container">
    <form class="form-signin" method="post" action="{% url 'login' %}" role="form">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" value="{{ request.POST.username }}" name="username" class="form-control" placeholder="Username" required>
        <input type="password" value="" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Sign in</button>
    </form>
</div>

{% endblock %}
